body{

    margin : 0px;
    padding: 0px;
    font-family: fantasy;

   background-color: #2c3878;
}

h1 ,h2 , h3{

    color : #fff;
}
h1{

    text-align: center;
}

img{

    position: relative;
    width: 100%;
    height: 400px;
}

.topic-container{

    padding: 10px;
    display: grid;
    grid-gap : 15px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.topic-button{

    padding: 10px;
    border: 1px solid rgb(235, 16, 191);
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(235, 16, 191, 0.605);
    
}

.topic-button h3{

    color: #fff;
}

#button-1{

    grid-row: 1;
    grid-column: 1;
}

#button-2{

    grid-row: 1;
    grid-column: 2;
}

#button-3{

    grid-row: 1;
    grid-column: 3;
}
#button-4{

    grid-row: 1;
    grid-column: 4;
}

.latest-articles-container{

    padding : 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap : 20px;
}

.latest-article{

    padding: 10px;
    text-align: center;
    border: 1px solid rgb(235, 16, 191) ;
    background-color: slategrey;
    color: #fff;
    border-radius: 20px;
}

#article-5{

    grid-column: 2 / span 3;
}
#article-4{

    grid-row: 2;
}

h4{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color : #fff;
}

@media only screen and (max-width : 600px ){
    /* for mobile phones */

        .topic-container{

            padding : 5px;
            display: grid;
            grid-gap : 5px;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
        }

        #button-1{
            grid-column: 1;
            grid-row: 1;
        }
        #button-2{
            grid-column: 2;
            grid-row: 1;
        }
        #button-3{
            grid-column: 1;
            grid-row: 2;
        }
        #button-4{
            grid-column: 2;
            grid-row: 2;
        }

        .latest-articles-container{

            padding : 10px;
            display: grid;
            grid-template-columns: auto auto auto ;
            grid-template-rows: auto auto auto;
            grid-gap : 10px;
        }

        #article-1{

            grid-column: 1;
            grid-row: 1;
        }
        #article-2{
            grid-column: 2;
            grid-row: 1;
        }
        #article-3{
            grid-column: 1;
            grid-row: 2;
        }
        #article-4{
            grid-column: 2;
            grid-row: 2;
        }
}

@media only screen and (min-width: 601px) and (max-width : 900px) {
    /* For tablets: */

    .topic-container{

        padding : 5px;
        display: grid;
        grid-gap : 5px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }
        #button-1{
            grid-column: 1;
            grid-row: 1;
        }
        #button-2{
            grid-column: 2;
            grid-row: 1;
        }
        #button-3{
            grid-column: 3;
            grid-row: 1;
        }
        #button-4{
            grid-column: 1;
            grid-row: 2;
        }

}


