*{
    font-family: Arial, Helvetica, sans-serif;
}
.grid-container{

    background-color: darkslateblue;
    padding : 15px;
    display : grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-gap : 10px;    

}

.grid-item {

    font-size : 40px;
    padding : 20;
    border : 1px solid rgb(10, 9, 12);
    text-align: center;
    border-radius: 10px;
}

#grid-one{
    background-color: red;
    color: black;
    grid-column: 1 / span 2;

}

#grid-two{
    background-color: blue;
    color: black;
    grid-column : 3 / span 2;
}

#grid-three{
    background-color: green;
    color: black;
}

#grid-four{
    background-color: purple;
    color: black;
    grid-column: 2 / span 3;
}

#grid-five{
    background-color:yellow;
    color: black;
    grid-column: 1 / span 4;
}